<section class="d-xl-flex align-items-end justify-content-between">
     <article>
          <div class="container text-center text-xl-start">
               <h2 class="mb-0">Download Rentcars App for <span>FREE</span></h2>
               <p>For faster, easier booking and exclusive deals.</p>
               <div class="d-flex align-items-center justify-content-center justify-content-xl-start">
                    <img loading="lazy" src="assets/images/google-play.svg" alt="Rent Cars">
                    <img loading="lazy" src="assets/images/app-store.svg" alt="Rent Cars">
               </div>
               <form class="d-xl-block d-flex flex-column align-items-center justify-content-center">
                    <input class="form-control shadow-none border-0 rounded-pill" type="text" name="name" placeholder="Name">
                    <input class="form-control shadow-none border-0 rounded-pill" type="number" name="phone" placeholder="Phone Number">
                    <input class="form-control shadow-none border-0 rounded-pill" type="email" name="email" placeholder="Email">
                    <button class="btn shadow-none border-0 text-white d-flex align-items-center justify-content-center mx-auto" type="button">Send</button>
               </form>
          </div>
     </article>
     <article>
          <div class="container d-flex align-items-end justify-content-center">
               <img class="w-75" loading="lazy" src="assets/images/download-app.png" alt="Rent Cars">
          </div>
     </article>
</section>