section {
     height: 100vh;
     img {
          height: 50vh;
     }
     a {
          margin-top: 24px;
          font-weight: 500;
          background-color: var(--main-color) !important;
     }
}