<section id="how-it-work">
     <div class="container d-flex flex-column align-items-center text-center">
          <div class="intro-title text-center">
               <span class="mx-auto d-flex align-items-center justify-content-center">HOW IT WORK</span>
               <h2>Rent with following 3 working steps</h2>
          </div>
          <ul class="list-unstyled m-0 d-md-flex align-items-start justify-content-center">
               <li>
                    <span class="d-flex align-items-center justify-content-center">
                         <img loading="lazy" src="assets/icons/check-location.svg" alt="Rent Cars">
                    </span>
                    <h6>Choose location</h6>
                    <p class="mb-0">Choose your and find</p>
                    <p class="mb-0">your best car</p>
               </li>
               <li class="my-5 my-md-0">
                    <span class="d-flex align-items-center justify-content-center">
                         <img loading="lazy" src="assets/icons/calendar.svg" alt="Rent Cars">
                    </span>
                    <h6>Pick-up date</h6>
                    <p class="mb-0">Select your pick up date and</p>
                    <p class="mb-0">time to book your car</p>
               </li>
               <li>
                    <span class="d-flex align-items-center justify-content-center">
                         <img loading="lazy" src="assets/icons/car.svg" alt="Rent Cars">
                    </span>
                    <h6>Book your car</h6>
                    <p class="mb-0">Book your car and we will deliver</p>
                    <p class="mb-0">it directly to you</p>
               </li>
          </ul>
     </div>
     <div class="row align-items-center justify-content-between mx-auto">
          <div class="col ps-0">
               <img loading="lazy" src="assets/companies/honda.svg" alt="Rent Cars">
          </div>
          <div class="col">
               <img loading="lazy" src="assets/companies/jaguar.svg" alt="Rent Cars">
          </div>
          <div class="col">
               <img loading="lazy" src="assets/companies/nissan.svg" alt="Rent Cars">
          </div>
          <div class="col">
               <img loading="lazy" src="assets/companies/volvo.svg" alt="Rent Cars">
          </div>
          <div class="col">
               <img loading="lazy" src="assets/companies/audi.svg" alt="Rent Cars">
          </div>
          <div class="col pe-0">
               <img loading="lazy" src="assets/companies/actel.svg" alt="Rent Cars">
          </div>
     </div>
</section>