<article>
     <ng-container [ngSwitch]="car.id">
          <img *ngSwitchCase="1" loading="lazy" src="assets/images/jaguar.svg" alt="Rent Cars">
          <img *ngSwitchCase="2" loading="lazy" src="assets/images/audi.png" alt="Rent Cars">
          <img *ngSwitchCase="3" loading="lazy" src="assets/images/bmw.svg" alt="Rent Cars">
          <img *ngSwitchCase="4" loading="lazy" src="assets/images/lamborghini.svg" alt="Rent Cars">
     </ng-container>
     <h6>{{car.make}} {{car.model}}</h6>
     <div class="car-rate d-flex align-items-center">
          <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
          <span>4.8</span>
          <span>(2.436 reviews)</span>
     </div>
     <div class="car-features d-sm-flex align-items-center">
          <ul class="list-unstyled mb-2 mb-sm-0">
               <li class="d-flex align-items-center">
                    <img loading="lazy" src="assets/icons/user.svg" alt="Rent Cars">
                    <span class="d-block">4 Passagers</span>
               </li>
               <li class="d-flex align-items-center">
                    <img loading="lazy" src="assets/icons/air.svg" alt="Rent Cars">
                    <span class="d-block">Air Conditioning</span>
               </li>
          </ul>
          <ul class="list-unstyled mb-0">
               <li class="d-flex align-items-center">
                    <img loading="lazy" src="assets/icons/auto.svg" alt="Rent Cars">
                    <span class="d-block">{{car.transmission}}</span>
               </li>
               <li class="d-flex align-items-center">
                    <img loading="lazy" src="assets/icons/door.svg" alt="Rent Cars">
                    <span class="d-block">4 Doors</span>
               </li>
          </ul>
     </div>
     <div class="line"></div>
     <div class="car-price d-flex align-items-center justify-content-between">
          <span>Price</span>
          <div class="d-flex align-items-center">
               <span>{{car.price | currency}}</span>
               <span>/day</span>
          </div>
     </div>
     <a [routerLink]="['/car', car.id]" routerLinkActive="router-link-active"  class="btn shadow-none border-0 text-white w-100 d-flex align-items-center justify-content-center">
          <span>Rent Now</span>
          <span class="icon-mask" style="mask-image: url(./../../../../../assets/icons/arrow-right.svg);"></span>
     </a>
</article>