<section>
     <div class="intro-title container text-center">
          <span class="mx-auto d-flex align-items-center justify-content-center">TESTIMONIALS</span>
          <h2>What peole say about us?</h2>
     </div>
     <div class="overflow-x-hidden d-lg-flex align-items-center justify-content-center">
          <div class="testimonials testimonials-1 mx-auto mx-lg-0 d-lg-none d-flex align-items-center justify-content-center">
               <div class="testimonials-logo">
                    <img loading="lazy" src="assets/images/male.svg" alt="Rent Cars">
               </div>
               <div class="testimonials-info d-flex flex-column justify-content-between">
                    <div>
                         <h2>5.0 <span>stars</span></h2>
                         <div class="d-flex align-items-center">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                         </div>
                    </div>
                    <p>“I have been using your services for 3 years. Your service is great, I will continue to use your service.”</p>
                    <div>
                         <h5>Jenny Wilson</h5>
                         <span>From New York, US</span>
                    </div>
               </div>
          </div>
          <div class="testimonials mx-auto mx-lg-0 d-flex align-items-center justify-content-center position-relative">
               <div class="testimonials-logo">
                    <img loading="lazy" src="assets/images/male.svg" alt="Rent Cars">
               </div>
               <div class="testimonials-info d-flex flex-column justify-content-between">
                    <div>
                         <h2>5.0 <span>stars</span></h2>
                         <div class="d-flex align-items-center">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                         </div>
                    </div>
                    <p>“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                    <div>
                         <h5>Charlie Johnson</h5>
                         <span>From New York, US</span>
                    </div>
               </div>
               <div class="testimonials testimonials-1 d-none d-lg-flex align-items-center justify-content-center position-absolute top-0">
                    <div class="testimonials-logo">
                         <img loading="lazy" src="assets/images/male.svg" alt="Rent Cars">
                    </div>
                    <div class="testimonials-info d-flex flex-column justify-content-between">
                         <div>
                              <h2>5.0 <span>stars</span></h2>
                              <div class="d-flex align-items-center">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              </div>
                         </div>
                         <p>“I have been using your services for 3 years. Your service is great, I will continue to use your service.”</p>
                         <div>
                              <h5>Jenny Wilson</h5>
                              <span>From New York, US</span>
                         </div>
                    </div>
               </div>
               <div class="testimonials testimonials-2 d-none d-lg-flex align-items-center justify-content-center position-absolute top-0">
                    <div class="testimonials-logo">
                         <img loading="lazy" src="assets/images/female.svg" alt="Rent Cars">
                    </div>
                    <div class="testimonials-info d-flex flex-column justify-content-between">
                         <div>
                              <h2>5.0 <span>stars</span></h2>
                              <div class="d-flex align-items-center">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                                   <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              </div>
                         </div>
                         <p>“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                         <div>
                              <h5>Charlie Johnson</h5>
                              <span>From New York, US</span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="testimonials mx-auto mx-lg-0 testimonials-2 d-lg-none d-flex align-items-center justify-content-center">
               <div class="testimonials-logo">
                    <img loading="lazy" src="assets/images/female.svg" alt="Rent Cars">
               </div>
               <div class="testimonials-info d-flex flex-column justify-content-between">
                    <div>
                         <h2>5.0 <span>stars</span></h2>
                         <div class="d-flex align-items-center">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                              <img loading="lazy" src="assets/icons/star.svg" alt="Rent Cars">
                         </div>
                    </div>
                    <p>“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                    <div>
                         <h5>Charlie Johnson</h5>
                         <span>From New York, US</span>
                    </div>
               </div>
          </div>
     </div>
</section>