<footer>
     <div class="container">
          <div class="row gy-4 gy-md-5">
               <div class="col-12 col-sm-6 col-md-5 col-lg-4 pe-xl-5 text-center text-sm-start">
                    <div class="d-flex align-items-center justify-content-center justify-content-sm-start">
                         <img loading="lazy" src="assets/images/logo-white.svg" alt="Rent Cars">
                         <span>RENTCARS</span>
                    </div>
                    <ul class="list-unstyled pe-xl-5 me-xl-5">
                         <li class="d-flex align-items-center justify-content-center justify-content-sm-start">
                              <img loading="lazy" src="assets/icons/location.svg" alt="Rent Cars">
                              <span>25566 Hc 1, Glenallen, Alaska, 99588, USA</span>
                         </li>
                         <li class="d-flex align-items-center justify-content-center justify-content-sm-start">
                              <img loading="lazy" src="assets/icons/call.svg" alt="Rent Cars">
                              <a href="tel:+603 4784 273 12" target="_blank">+603 4784 273 12</a>
                         </li>
                         <li class="d-flex align-items-center justify-content-center justify-content-sm-start">
                              <img loading="lazy" src="assets/icons/message.svg" alt="Rent Cars">
                              <a href="mailto:rentcars@gmail.com" target="_blank">rentcars@gmail.com</a>
                         </li>
                    </ul>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 text-center text-sm-start">
                    <h6 class="mb-0">Our Product</h6>
                    <ul class="list-unstyled">
                         <li>Career</li>
                         <li>Car</li>
                         <li>Packages</li>
                         <li>Features</li>
                         <li>Priceline</li>
                    </ul>
               </div>
               <div class="col-12 col-sm-6 col-md-3 col-lg-2 text-center text-sm-start">
                    <h6 class="mb-0">Resources</h6>
                    <ul class="list-unstyled">
                         <li>Download</li>
                         <li>Help Centre</li>
                         <li>Guides</li>
                         <li>Partner Network</li>
                         <li>Cruises</li>
                         <li>Developer</li>
                    </ul>
               </div>
               <div class="col-12 col-sm-6 col-md col-lg-2 text-center text-sm-start">
                    <h6 class="mb-0">About Rentcars</h6>
                    <ul class="list-unstyled">
                         <li>Why choose us</li>
                         <li>Our Story</li>
                         <li>Investor Relations</li>
                         <li>Press Center</li>
                         <li>Advertise</li>
                    </ul>
               </div>
               <div class="col-12 col-sm-6 col-md col-lg-2 text-center text-sm-start">
                    <h6 class="mb-0">Follow Us</h6>
                    <div class="social-media d-flex align-items-center justify-content-center justify-content-sm-start">
                         <img loading="lazy" src="assets/icons/facebook.svg" alt="Rent Cars">
                         <img loading="lazy" src="assets/icons/instagram.svg" alt="Rent Cars">
                         <img loading="lazy" src="assets/icons/youtube.svg" alt="Rent Cars">
                    </div>
               </div>
          </div>
          <p class="mb-0 text-center text-sm-start">Copyright 2023 ・ Rentcars, All Rights Reserved</p>
     </div>
</footer>